._sidenav .mat-list-item {
    font-size: 14px;
}
.spacer {
    flex: 1 1 auto;
    color:rgb(163, 157, 157);
  }
  .bigbx{
    width: 393
    px
    ;
  }
  .bigbx .smallbox{
      padding-left:38px ;
  }
  .navbar{
      height: 100%;
      width: 100%;
      border: black 10px;
      margin-top: 32px
;
  }
  .navbar .dashbox{
    height: 98px;
    width: 92%;
    margin-left: 80px;
    margin-right: 106px;
    background-color: black;
  }
  .react{
      height: auto;
      width: 12px;
      text-align: right;
  }
  .coursebox{
      border: black 60px;
      height: auto;
      width: auto;
      align-self: left;
      margin: 50px;
      margin-left: 70px;
      border-left: 20px;
  }
  .discover{
      width: 20px;
      flex: 1 1 auto;
      color: white;
  }
  .colo{
    color:rgb(163, 157, 157);
  }
  /* .colo2{
    background-color: black;
  } */
.ll_header {
    padding: 15px 0;
}
.ll_header.top-fixed {
    padding: 15px 0;
    z-index: 9999;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
}
.logo {
    max-width: 120px;
}
._sidenav__toggler {
    height: 40px;
    width: 40px;
    line-height: 40px;
}
._sidenav__toggler .mat-icon {
    font-size: 25px;
    height: 25px;
    width: 25px;
    line-height: 25px;
}
@media (min-width: 768px) {
    .logo {
        max-width: 145px;
    }
}
